body {
    margin: 0px; 
    height: 100%; 
    background-color: rgb(14, 14, 14);
}

#headerText {
display: none;
}

img.header {
    display: block;
    margin: auto; 
    width: 1388px;
    height: 208px;
}

#SubtitleDisplay {
    font-size: 48px;
    color: yellow;
    justify-content: center;
    display: grid
}

#BlingDisplay {
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px 200px;
}

.Bling {
    max-width:200px;
    max-height:200px;
}