body {
    margin: 0px; 
    height: 100%; 
    background-color: rgb(14, 14, 14);
}

#headerText {
display: none;
}

img.header {
    display: block;
    margin: auto; 
    width: 1388px;
    height: 208px;
}

#SubtitleDisplay {
    font-size: 48px;
    color: yellow;
    justify-content: center;
    display: grid
}

#BlingDisplay {
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px 200px;
}

.Bling {
    max-width:200px;
    max-height:200px;
}

#FilterDisplay {
    display: grid; 
    grid-template-columns: 200px 200px 200px 200px 400px;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: gray;
} 

#CharacterDisplay > img {
    max-width: 500px;
    max-height: 500px;
    padding: 100px;
}

.FilterItemImg {
    opacity: 35%;
    padding: 30px;
    color: black;
    max-height: 200px;
}