* {
    font-family:Georgia, 'Times New Roman', Times, serif
}

body {
    margin: 0px; 
    height: 100%; 
    background-color: rgb(14, 14, 14);
}

#headerText {
display: none;
}

img.header {
    display: block;
    margin: auto; 
    width: 1388px;
    height: 208px;
}

h2 {
    font-size: 48px;
    color: white;
    justify-content: center;
    display: grid;
}
#BlingDisplay {
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px 200px;
}

img.Chest, img.Leg, img.Gauntlets, img.Helm {
    max-width:200px;
    max-height:200px;
    z-index: -1;
}

#FilterDisplay {
    display: grid; 
    grid-template-columns: 200px 200px 200px 200px 400px;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: goldenrod;
} 

#CharacterDisplay > img {
    max-width: 500px;
    max-height: 500px;
    padding: 100px;
}

.FilterItemImg {
    opacity: 35%;
    padding: 30px;
    color: black;
    max-height: 200px;
}

.textDiv {
    display: none; 
    color: white;
    z-index: 1;
}